// main: main.scss
$base-font: 'Roboto', sans-serif;
$baseFontSize: 10px;

$black: #000000;
$yellow: #FDB913;
$light-yellow: #FFC43D;
$lighter-yellow: #FFCF5F;
$lightest-yellow: #FFDB89;
$sand: #FFECC1;
$darker-sand: #FFF8E9;
$white: #FFFFFF;
$gold: #A58D5B;
$platin: #77797D;
$darkest-grey: #232323;
$darker-grey: #808080;
$dark-grey: #5F5F5F;
$grey: #7D7D7D;
$light-grey: #9B9B9B;
$lighter-grey: #D7D7D7;
$lightes-grey: #F5F5F5;
$gray-2: #E0E0E0;
$gray-6: #606060;
$success: #00CE2D;
$error: #CE0000;

$baseFontSize: 10;
$font12: 12;
$font13: 13;
$font14: 14;
$font15: 15;
$font16: 16;
$font17: 17;
$font18: 18;
$font19: 19;
$font20: 20;
$font21: 21;
$font22: 22;
$font23: 23;
$font24: 24;
$font25: 25;
$font26: 26;
$font27: 27;
$font28: 28;
$font29: 29;
$font30: 30;
$font31: 31;
$font32: 32;
$font33: 33;
$font34: 34;
$font35: 35;
$font36: 36;
$font37: 37;
$font38: 38;
$font39: 39;
$font40: 40;
$font44: 44;